.nav--links{
    padding: 5px;
    margin: 10px 50px;
    text-decoration: none;
}

.nav--links:hover{
    color: rgb(85, 235, 85);
}

.navbar-toggler-icon{
    background-image: url(https://cdn-icons-png.flaticon.com/512/137/137621.png);
}

.navbar-toggler{
    border: black;
}

.navbar-collapse{
    justify-content: center;
}

.claseActiva{
    color: rgb(85, 235, 85);
    font-size: 1.2rem;
}

.claseInactiva{
   color: $base-color;
}