.nav--links{
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px 50px;
    text-decoration: none;
}

.navbar-toggler-icon{
    background-image: url(https://cdn-icons-png.flaticon.com/512/137/137621.png);
}

.navbar-toggler{
    border: black;
}

.navbar-collapse{
    justify-content: center;
}
