

.contenedor__proyectos{
    border: 5px solid yellowgreen;
    border-radius: 6px;
    height: 261px;
    display: flex;
    margin-top: 70px;
    
    &--info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        width: 500px;
        background-color: white;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(10px);
        border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        color: $base-color;
    }
    &--img{
        height: 250px; 
    }
    &--titulo{
        margin: 10px;
        padding: 10px;
    }
    &--repositorios{
        list-style: none;
        text-decoration: none;
        color: $base-color;
    }
    &--repositorios:hover{
        color: rgb(151, 244, 199);
    }
}

.contenedor__proyectos--img:hover{
    filter: blur(5px);
}

@media screen and (max-width:768px) {
    .contenedor__proyectos{
        flex-direction: column;
        width: 300px;
        height: auto;
        margin: 40px 0;       
    }
    .contenedor__proyectos--info{
        width: 290px;
    }
    .contenedor__proyectos--img{
        height: 183px;
        width: 290px;
    }
}