.contenedor__proyectosLista{
    &--titulo{
        display: flex;
        justify-content: center;
        h1{
            color: $base-color;
            margin: 50px;
            border-left: 4px $base-color solid;
            padding-left: 10px;
        }
    }
    &--txt{
        color: $base-color;
        display: flex;
        justify-content: center;
        p{
            width: 80%;
        }
        
    }

}