.nav--links{
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px 50px;
    border: 1px solid green;
    border-radius: 10px;
    text-decoration: none;

}

.navbar-toggler-icon{
    background-image: url(https://cdn-icons-png.flaticon.com/512/137/137621.png);
}

.navbar-toggler{
    border: black;
}

